In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("iris.csv")

df.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [9]:
mean_sepal_lenght = df["sepal.length"].mean()
std_sepal_lenght = df["sepal.length"].std()
median_sepal_lenght = df["sepal.length"].median()

print("The mean is:", mean_sepal_lenght)
print("The standar desviation is:", std_sepal_lenght)
print("The median is:", median_sepal_lenght)

The mean is: 5.843333333333334
The standar desviation is: 0.8280661279778629
The median is: 5.8